@media(max-width: 360px) {

   



    .comments_title {
        display: none;
    }

    form {
        background-image: url(/img/group21.png);
    }

    
    .comments_item:nth-child(2) {
        display: none;
    }
    .comments_item:nth-child(4) {
        display: none;
    }
    

}

@media(min-width: 360px) {
    .header_container {
        display: none;
    }

    .main_page_desktop {
        display: flex;
    }

    .flowers img:nth-child(2) {
      display: none;

    }

    

    .flowers img {
        width: 340px;
        height: 380px;

    }


    .inputs input {
        width: 580px;
        height: 50px;
        font-size: 24px;
    }



    .form_btn button {
        width: 248px;
        height: 68px;
    }

    .form_title {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    form {
        background-image: url(/img/group211.png);
    }

    .form_btn img {
        display: none;
    }

    .form_btn {
        padding: 20px 0 37px 0;
        justify-content: center;
    }
    .selection_buttons {
        display: none;
    }
    
}

@media(max-width: 700px) {
    .header_desktop_row {
        display: none;
    }

    .logo_desktop {
        margin-top: -20px;
    }

    .information_container_desktop {
        display: none;
    }

    .information_container {
        display: flex;
    }

    .inputs_desctop {
        display: none;
    }

    .main_page_desktop {
        display: none;
    }

    .header_container {
        display: flex;
    }

    .main_page {
        display: flex;
    }

    .desktop_header {
        display: none;
    }
    .comments_item {
        width: 171.919px;
        height: 196.865px;
    }
    .flowers_desktop img{
        display: none;
      }
}

@media(min-width: 700px) {
    .header_desktop_row {
        display: flex;
    }

    .footer_information {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .information_container_desktop {
        display: flex;
    }

    .information_container {
        display: none;
    }

    .inputs input:nth-child(1) {
        display: none;
    }

    .desktop_header {
        display: flex;
    }

    .main_page {
        display: none;
    }
    .comments_item {
        width: 255px;
        height: 292px;
        padding: 50px 13px 25px 12px;
    }
}

@media(min-width: 800px) {
    .logo_desktop_header {
        margin: -15px 50px 0 50px;
    }
}

@media(min-width: 1200px) {
    .logo_desktop_header {
        margin: -15px 152px 0 168px;
    }

}

@media(min-width: 1300px) {
    footer hr {
        width: 1110px;
    }

    .footer_logo_items {
        width: 1110px;
    }

    .footer_information {
        width: 1110px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footerlogoitems {
        display: flex;
        justify-content: center;
    }
}