@media(max-width: 360px) {
    .desktop_header {
        display: none;
    }

    .header_container {
        display: flex;
    }

    .main_page {
        display: flex;
    }

    .information_container {
        display: flex;
    }

    .main_page_desktop {
        display: none;
    }

    .information_container_desktop {
        display: none;
    }

    .flowers img:nth-child(2) {
        display: block;
    }

    .inputs_desctop {
        display: none;
    }

    .comments_title {
        display: none;
    }

    form {
        background-image: url(/img/Group\ 2\ 1.png);
    }
}

@media(min-width: 360px) {
    .header_container {
        display: none;
    }

    .desktop_header {
        display: flex;
    }

    .main_page {
        display: none;
    }

    .information_container {
        display: none;
    }

    .main_page_desktop {
        display: flex;
    }

    .information_container_desktop {
        display: flex;
    }

    .flowers img:nth-child(2) {
        display: none;
    }

    .flowers img:nth-child(1) {
        width: 340px;
        height: 380px;

    }

    .comments_item_3 {
        width: 255px;
        height: 292px;

    }

    .comments_item_1 {
        width: 255px;
        height: 292px;
    }

    .comments_item_2 {
        width: 255px;
        height: 292px;
    }

    .inputs input {
        width: 580px;
        height: 50px;
        font-size: 24px;
    }

    .inputs input:nth-child(1) {
        display: none;
    }

    .form_btn button {
        width: 248px;
        height: 68px;
    }

    .form_title {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    form {
        background-image: url(/img/Group\ 2\ 11.png);
    }
    .form_btn img {
        display: none;
    }
    .form_btn {
        padding: 20px 0 37px 0;
        justify-content: center;
    }
}

@media(max-width: 700px) {
    .header_desktop_row {
        display: none;
    }

    .logo_desktop {
        margin-top: -20px;
    }


}

@media(min-width: 700px) {
    .header_desktop_row {
        display: flex;
    }

    .footer_information {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

@media(min-width: 800px) {
    .logo_desktop_header {
        margin: -15px 50px 0 50px;
    }
}

@media(min-width: 1200px) {
    .logo_desktop_header {
        margin: -15px 152px 0 168px;
    }

}

@media(min-width: 1300px) {
    footer hr {
        width: 1110px;
    }

    .footer_logo_items {
        width: 1110px;
    }

    .footer_information {
        width: 1110px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footerlogoitems {
        display: flex;
        justify-content: center;
    }
}