@import url(./footer.css);
@import url(./main.css);
@import url(./media.css);
@import url(./footer.css);
@import url(./header.css);

body {
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #C7C7C7;
}
a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition-duration: 1s;
}
button {
    cursor: pointer;
}
